:root {
  --primary: #fa4e77;
  --primary-light: #fc7796;
  --secondary: #A78BFA;
  --secondary-light: #bea8ff;
  --blue: #3da7ff;
  --white: #fff;
  --gray: #e3e3e3;
  --green: #8db986;
  --green-light: #75e663;
}
